<!-- <div>
  <span>ADAL Example for Angular 6</span>
  <span class="fill-remaining-space"></span>

  <span *ngIf="!authenticated">
    <button (click)="login()">Login</button>
  </span>  
</div> -->
<div class="container" style="background-color: azure;display:table;height:100%">
  <div class="row h-100 align-items-center">
    <div class="col-md-3">
        &nbsp;
    </div>
    <div class="col-md-6 text-center">
        <h2 style="text-transform: uppercase;" class="text-center">Azure Active Directory Authentication</h2>
        <br/>        
        <button type="button" class="btn btn-primary col-md-6" (click)="login()">Login</button>
    </div>
    <div class="col-md-3">
        &nbsp;
    </div>
</div>
</div>